# Android
*.iml
.gradle/
.idea/
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/build
android/.gradle
android/.kotlin
android/.externalNativeBuild
android/.cxx
.DS_Store

# Backend
backend/node_modules
backend/.env
